<!DOCTYPE html>
<html>
    <head>
        <title>Congressional Data App</title>
    </head>
    <body>
        <h1>Test App Please Ignore</h1>

        <p>Below are some candidate contributions I loaded from the API server.  Now let's visualize them!</p>

        <ul></ul>

        <script
          src="http://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>

        <script type="text/javascript">
            // TODO set up separate JS files and a real build process
            $(function() {
                $.get('/api/models/candidate_contributions', function(data) {
                    $.each(data, function(i, contribution) {
                        $('<li>', {
                            text: contribution.transaction_amount + ' to ' + contribution.recipient_candidate_name,
                        })
                        .appendTo('ul');
                    });
                });
            });
        </script>
    </body>
</html>