*.pyc
Campaign_Finance_-_FPPC_Form_460_-_Schedule_A_-_Monetary_Contributions.csv
notebooks/.ipynb_checkpoints/*
.idea
node_modules/
yarn-debug.log*
yarn-error.log*
npm-debug.log*
.eslintcache
bundle.js
bundle.js.map
